<div class="max-w-screen-lg mx-auto p-6">
  <div class="flex flex-col bg-white rounded-xl p-10">
    <div class="mb-10">
      <h3 class="font-bold text-xl mb-3">Аватар</h3>
      <div class="flex items-center">
        <div class="w-20 h-20 bg-viol rounded-full mr-5">
          <img src="../../../../../assets/ava_default.jpg" alt="" class="rounded-full object-cover">
        </div>
        <button class="btn mr-5">Сменить аватар</button>
        <button class="btn-red">Удалить аватар</button>
      </div>
    </div>
    <div class="mb-10">
      <h3 class="font-bold text-xl mb-3">Пароль</h3>
      <div class="flex flex-col">
        <div class="flex mb-5 items-center">
          <button class="btn mr-5 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </button>
          <div class="">
            <input type="text" class="input"></div>
          </div>
        <div class="flex">
          <button class="btn mr-5">Сохранить изменения</button>
        </div>
      </div>
    </div>
    <div class="mb-5">
      <h3 class="font-bold text-xl mb-3">Danger zone</h3>
      <button class="btn-red">Удалить аккаунт</button>
    </div>
  </div>
</div>
