<div class="max-w-screen-lg mx-auto md:p-6">
  <div class="flex flex-col bg-white md:rounded-xl p-10 md:p-6 md:min-h-screen">
    <form class="mb-10" [formGroup]="avatarForm">
      <h2 class="font-bold text-2xl mb-3">Настройки</h2>
      <div class="block md:flex md:items-end flex-col md:flex-row">
        <div class="w-20 h-20 bg-viol rounded-full mr-5 overflow-hidden">
          <img src="{{this.authService.avatar || '/assets/ava_default.jpg'}}" alt="" class="rounded-full object-cover">
        </div>
        <label class="label mb-3 md:mr-3 md:mb-0">
          Ссылка на аватар
          <input type="text" class="input" formControlName="avatar"
                 [value]="this.avatarForm.value.avatar">
        </label>
        <button class="btn mb-3 md:mr-3 md:mb-0" (click)="changeAvatar()">Сменить аватар</button>
        <button class="btn-red" type="submit" (click)="changeAvatar(true)">Удалить аватар</button>
      </div>
    </form>
    <form class="mb-10" [formGroup]="passwordForm">
      <h3 class="font-bold text-xl mb-3">Пароль</h3>
      <div class="flex flex-col">
        <div class="flex mb-5 items-center">
          <button class="btn mr-5 p-2" (click)="toggleIsShownPassword()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white"
                 class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
            </svg>
          </button>
          <div class="">
            <input type="{{isShownPassword ? 'text' : 'password'}}"
                   class="input" formControlName="password">
          </div>
        </div>
        <div class="flex">
          <button class="btn mr-5" type="submit"
                  (click)="updatePassword()">Сохранить изменения
          </button>
        </div>
      </div>
    </form>
    <div class="mb-5">
      <h3 class="font-bold text-xl mb-3">Danger zone</h3>
      <button class="btn-red" (click)="deleteUser()">Удалить аккаунт</button>
    </div>
  </div>
</div>
