<div
  class="absolute min-w-full min-h-full bg-black bg-opacity-70 left-0 top-0 z-10 flex items-center justify-center py-16">
  <div class="bg-white  p-10 rounded-xl max-w-md">
    <h2 class="font-bold text-xl mb-3">Создание аккаунта</h2>
    <div class="mb-5">
      <label class="label mb-4">
        Соцсеть
        <select class="input px-2">
          <option value=""></option>
          <option value="">Facebook</option>
          <option value="">Twitter</option>
          <option value="">Instagram</option>
        </select>
      </label>

      <label class="label mb-4">
        Ссылка на профиль
        <input type="text" class="input">
      </label>

      <label class="label mb-1">
        Логин
        <input type="text" class="input">
      </label>

      <label class="label mb-1">
        Пароль
        <input type="password" class="input">
      </label>

      <label class="label mb-1">
        Дата регистрации
        <input type="text" class="input">
      </label>

      <label class="label mb-4">
        Пол
        <select class="input px-2">
          <option value=""></option>
          <option value="">Мужской</option>
          <option value="">Женский</option>
        </select>
      </label>

      <label class="label mb-1">
        Дата рождения
        <input type="text" class="input">
      </label>

      <label class="label mb-1">
        Доп поле для facebook
        <input type="text" class="input">
      </label>
    </div>
    <div class="">
      <button class="btn mx-auto">Создать</button>
    </div>
  </div>
</div>
