<div class="fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-70"
     (click)="modalService.toggleIsOpen()">
</div>
<form [formGroup]="accountForm" (ngSubmit)="this.modalService.isEdit ? onEdit() : onCreate()"
      class="modal-form">
  <h2 class="font-bold text-xl mb-3">
    {{this.modalService.isEdit ? 'Редактирование' : 'Создание'}} аккаунта
  </h2>
  <div class="fields">
    <label class="label">
      Соцсеть
      <select class="input px-2" formControlName="type">
        <option value=""></option>
        <option value="facebook">Facebook</option>
        <option value="twitter">Twitter</option>
        <option value="instagram">Instagram</option>
      </select>
    </label>

    <label class="label">
      Ссылка на профиль
      <input type="text" class="input" formControlName="link">
    </label>

    <label class="label">
      Логин
      <input type="text" class="input" formControlName="login">
    </label>

    <label class="label">
      Пароль
      <input type="text" class="input" formControlName="password">
    </label>

    <label class="label">
      Ссылка на аватар
      <input type="text" class="input" formControlName="avatar">
    </label>

    <label class="label">
      Дата регистрации
      <input type="date" class="input" formControlName="reg_date">
    </label>

    <label class="label">
      Дата рождения
      <input type="date" class="input" formControlName="birthdate">
    </label>

    <label class="label">
      Пол
      <select class="input px-2" formControlName="gender">
        <option value=""></option>
        <option value="мужской">Мужской</option>
        <option value="женский">Женский</option>
      </select>
    </label>

    <label class="label">
      Доп поле для {{this.accountForm.value?.type | titlecase}}
      <input type="text" class="input" formControlName="extra_field">
    </label>
  </div>
  <div class="">
    <button class="btn mx-auto" type="submit">
      {{this.modalService.isEdit ? 'Редактировать' : 'Создать'}}
    </button>
  </div>
</form>
