<div class="max-w-sm mx-auto relative top-10 p-7 rounded-2xl bg-white">
  <form [formGroup]="loginForm" class="flex flex-col"
        (ngSubmit)="this.isLogin ? onLogin() : onRegister()">
    <h2 class="font-bold text-2xl mb-6">{{this.isLogin ? 'Вход' : 'Регистрация'}}</h2>
    <label class="label mb-1">
      Логин
      <input type="text" class="input mb-6" formControlName="name">
    </label>
    <label class="label mb-1">
      Пароль
      <input type="password" class="input mb-6" formControlName="password">
    </label>
    <button class="btn mb-3" type="submit">{{this.isLogin ? 'Вход' : 'Регистрация'}}</button>
    <a routerLink="{{this.isLogin ? '/register': '/login'}}"
       class="link text-center">{{this.isLogin ? 'Регистрация' : 'Вход'}}</a>
  </form>
</div>
